* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('./img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: black;

    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
}

#particles-js {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.bg {
    background-color: black;
}

.navigation {
    background-color: rgba(0, 0, 0, 0.5);
    grid-row: 1;
    flex: 1 1 100vh;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 2em;
}

.container {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-self: center;
    flex: 1 1 200px;
}

.player {
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 128px;
}

.player .info {

    display: flex;
    font-size: 20px;
    font-weight: 600;
    flex-direction: column;
    color: #FFF;
    align-self: center;
    justify-self: center;
}

.player .cbuttons {
    grid-row: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 30px;
    color: #fff;
}

.iconfont {
    padding: 0px 20px 0px 20px;
}

.middle {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.psongs {
    background: rgba(0, 0, 0, 0.3);
    padding: 32px;
    border-radius: 64px;

    justify-self: center;
    align-self: center;
    flex: 1 1 300px;

    color: #FFF;
    font-weight: 500;
    font-size: 17px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    margin-top: 10px;
}

.chat {
    display: flex;
    justify-content: center;
}

iframe {
    margin: 30px;
    height: 700px;
    width: 350px;
    background: rgba(0, 0, 0, 0.3);

}

footer {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    color: #fff;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    flex-wrap: nowrap;
}

footer .text-white {
    padding-right: 20px;
}

footer ul li {
    list-style-type: none;

}

footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

footer a i {
    margin-right: 5px;
}

.pss {
    font-size: 20px;
    font-weight: 500;
}

.ps0 {
    margin-top: 15px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.ps1 {
    margin: 3px;
}

.ps2 {
    margin: 3px;
}

.ps3 {
    margin: 3px;
}

.ps4 {
    margin: 3px;
}

.ps5 {
    margin: 3px;
}

.ps6 {
    margin: 3px;
}

.ps7 {
    margin: 3px;
}

.ps8 {
    margin: 3px;
}

.ps9 {
    margin: 3px;
}

.slider {
    -webkit-appearance: none;
    width: 130%;
    height: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
}